<template>
    <form>
    <lightning-card title="">  
        <lightning-layout>          
            <lightning-layout-item>
                <lightning-input date-style ="short" type="date" name="fromdate" label="From Date" required onchange={fromDate} ></lightning-input>
            </lightning-layout-item> &nbsp;&nbsp;&nbsp;
          
            <lightning-layout-item>
                <lightning-input date-style ="short" type="date" name="todate" label="To Date" required onchange={toDate} ></lightning-input>
            </lightning-layout-item>  
            
            <lightning-button variant="brand" label="Show"  onclick={showTransactions} 
                         class="slds-m-left_x-small btnFetch"> 
            </lightning-button> 
            <lightning-button variant="brand" label="Clear"  onclick={allowReset} 
                 class="slds-m-left_x-small btnFetch"> 
            </lightning-button> 
          
            <BR/>
        </lightning-layout>      
      
        <template if:true={show}>
            <div class="slds-text-color_error slds-p-left_x-small">
                <BR/>
                {showUserMessage}
             </div>  
        </template>            
        <BR/>     
        
       
        
        <template if:true={restdatatran}> 
            <template if:false={ressize}> 
                <div  style="height:300px;">
                <lightning-datatable data={restdatatran.account.movements} 
                        columns={columns}
                        key-field="Id"
                        hide-checkbox-column
                        max-column-width = 100px
                        show-row-number-column>
                    </lightning-datatable>
                    </div>
           </template>          
        </template>  
 
        <template if:true={ressize}>
            <div class="slds-text-color_error slds-p-left_x-small">
              There is no record to display!
           </div>
         </template>

        <template if:true={error}>   
            <div class="slds-text-color_error slds-p-left_x-small">
                There is issue to Connect, please connect to System Administrator.
             </div>    
           
        </template>
        <template if:true={dateValidationGr}> 
            <div class="slds-text-color_error slds-p-left_x-small">
                From date can not be greater than today.
            </div>
        </template>
    </lightning-card>
</form>
</template>