<apex:component allowDML="true">
<!-- Span tag(<span style="color:red">) is added after Labels to show * in red color in lightning experience -->
<style>
.requriedinput{
    border-left: 3px solid #c00;
}
</style>
<apex:attribute name="con" description="This is the value for the component."
type="PrimeActionController" required="true"/>

 <apex:actionFunction name="getPPIInsurances" action="{!con.getPPIInsurances}" rerender="registrationofPPiPb" status="btnstatus"/> 
    <apex:pageBlock title="Registration of PPI" mode="edit" id="registrationofPPiPb">
        <apex:pageBlockButtons location="bottom">
            <apex:commandButton status="btnstatus" action="{!con.registrationofPPI}" onclick="if(confirm('Are you sure you want to submit ?')){}else{return false;}" oncomplete="var ps={!con.primeSuccess};if(ps){window.close();}else{return false;}" value="Submit" reRender="PrimePanel" disabled="{!If(OR(AND(con.primeInsuranceOptions.size=0,con.registrationOfPPIWrapper.financialVal!=''),con.registrationOfPPIWrapper.subscribedPPIinsuranceList.size>1),true,false)}"/>
            <apex:commandButton value="Cancel" onclick="window.location=window.location;return false;"/>
        </apex:pageBlockButtons>
         
        <apex:Pagemessages />
       
        <apex:pageBlockSection title=" " columns="1">
            <apex:pageBlockSectionItem >
            <apex:outputLabel value="Customer: " for="customerName"/> 
            <apex:outputLabel value="{!con.registrationOfPPIWrapper.customerName}" id="customerName" />
            </apex:pageBlockSectionItem>
        
            <apex:pageBlockSectionItem >
                Financial Account: <span style="color:red">*</span><apex:selectList onchange="getPPIInsurances();" value="{!con.registrationOfPPIWrapper.financialVal}" multiselect="false" size="1" id="financialAccountddl" styleClass="customPicklist requriedinput">
                <apex:selectOptions value="{!con.financialAccounts}"/> 
                </apex:selectList>
            </apex:pageBlockSectionItem>
            
           
        <!-- apex:pageBlockSectionItem >
        Date:
        
       <apex:inputText value="{!con.rememberInsuranceWrapper.dateValue}" onfocus="DatePicker.pickDate(false,this, false);" id="rememberInsuranceDate" styleClass="requriedinput"/> 
        </apex:pageBlockSectionItem -->
        
        </apex:pageBlockSection>
    <apex:pageBlockSection title="Insurances:" columns="1">
    <apex:pageBlockSectionItem >
      <apex:actionRegion >
                <apex:outputPanel id="ppiInsurancepnl" rendered="{!con.primeInsuranceOptions.size>0}">
     
        <apex:selectRadio value="{!con.registrationOfPPIWrapper.ppiInsurance}" layout="PageDirection" id="ppiInsuranceList">
            <apex:selectOptions value="{!con.primeInsuranceOptions}"/>
            </apex:selectRadio>
            
             <!-- apex:selectCheckboxes value="{!con.registrationOfPPIWrapper.subscribedPPIinsuranceList}" layout="PageDirection" id="subscribedPPIInsuranceList">
            <apex:selectOptions value="{!con.primePPISubscribedInsuranceOptions}"/>
        </apex:selectCheckboxes -->
            
            
       </apex:outputPanel>
        <apex:outputPanel id="insuranceMessage" style="color:red" rendered="{!If(AND(con.primeInsuranceOptions.size=0,con.registrationOfPPIWrapper.financialVal!=''),true,false)}">
                    
                     {!$Label.Prime_No_Insurances}
                    </apex:outputpanel>
        <apex:outputPanel id="ppiLimitMsg" style="color:red" rendered="{!con.registrationOfPPIWrapper.subscribedPPIinsuranceList.size>1}">
                    
                    PPI Request has already been executed. Please login to Prime to perform another PPI Request
                    </apex:outputpanel>                       
                    </apex:actionRegion>
         </apex:pageBlockSectionItem>
    </apex:pageBlockSection>
    
    
    </apex:pageBlock>
    
</apex:component>