<apex:component allowDML="true">
<!-- Span tag(<span style="color:red">) is added after Labels to show * in red color in lightning experience -->
<apex:attribute name="con" description="This is the value for the component."
type="PrimeActionController" required="true"/>
    <apex:pageBlock title="Close Account" mode="edit">
        <apex:pageBlockButtons location="bottom">
            <apex:commandButton status="btnstatus" action="{!con.closeAccount}" onclick="if(confirm('Are you sure you want to submit ?')){}else{return false;}" oncomplete="var ps={!con.primeSuccess};if(ps){window.close(true);}else{return false;}" value="Submit" reRender="PrimePanel"/>
            <apex:commandButton value="Cancel" onclick="window.location=window.location;return false;"/>
        </apex:pageBlockButtons>
         
        <apex:Pagemessages />
       
        <apex:pageBlockSection title=" " columns="1">
            <apex:pageBlockSectionItem >
            <apex:outputLabel value="Customer: " for="customerName"/> 
            <apex:outputLabel value="{!con.closeAccountWrapper.customerName}" id="customerName" />
            </apex:pageBlockSectionItem>
        <!-- apex:outputLabel value="Financial Account: " for="financialAccountddl"/ --> 
            <apex:pageBlockSectionItem >
                Financial Account: <span style="color:red">*</span><apex:selectList value="{!con.closeAccountWrapper.financialVal}" multiselect="false" size="1" id="financialAccountddl" styleClass="customPicklist requriedinput">
                <apex:selectOptions value="{!con.financialAccounts}"/> 
                </apex:selectList>
            </apex:pageBlockSectionItem>
           
        <apex:pageBlockSectionItem >
        Closing Date:<span style="color:red">*</span>
        <!-- apex:inputText value="{!con.closingDate}" size="10" id="demo1" onfocus="DatePicker.pickDate(false, this , false);" / -->    
       <apex:inputText value="{!con.closeAccountWrapper.closingDate}" onfocus="DatePicker.pickDate(false,this, false);" id="closeDate" styleClass="requriedinput"/> 
        </apex:pageBlockSectionItem>
        
        </apex:pageBlockSection>
    
    </apex:pageBlock>
    
</apex:component>