<apex:component allowDML="true">
<!-- Span tag(<span style="color:red">) is added after Labels to show * in red color in lightning experience -->
<apex:attribute name="con" description="This is the value for the component."
type="PrimeActionController" required="true"/>
<apex:actionFunction name="resetfundTransfer" action="{!con.resetFundsTransfer}" rerender="fundsTransferPb" status="btnstatus"/> 
    <apex:pageBlock title="Nemkonto" mode="edit" id="fundsTransferPb">
        <apex:pageBlockButtons location="bottom">
            <apex:commandButton disabled="{!con.fundTransferWrapper.disableSubmit}" status="btnstatus" action="{!con.fundTransfer}" onclick="if(confirm('Are you sure you want to submit ?')){}else{return false;}" value="Submit" reRender="PrimePanel"/>
            <apex:commandButton value="Cancel" onclick="window.location=window.location;return false;"/>
        </apex:pageBlockButtons>
         
        <apex:Pagemessages />
       
        <apex:pageBlockSection title=" " columns="1">
            <apex:pageBlockSectionItem >
            <apex:outputLabel value="SSN: " for="ftSSN"/> 
            <apex:outputLabel value="{!con.fundTransferWrapper.ssn}" id="ftSSN" />
            </apex:pageBlockSectionItem>
        
            <apex:pageBlockSectionItem >
                Card Number: <span style="color:red">*</span><apex:selectList onchange="resetfundTransfer();" value="{!con.fundTransferWrapper.cardNo}" multiselect="false" size="1" id="ftCardNoddl" styleClass="customPicklist requriedinput">
                <apex:selectOptions value="{!con.cardNumber}"/> 
                </apex:selectList>
            </apex:pageBlockSectionItem>
            
         <apex:pageBlockSectionItem >
                Transaction Type: <span style="color:red">*</span><apex:selectList value="{!con.fundTransferWrapper.transactionType}" multiselect="false" size="1" id="ftTxTypeddl" styleClass="customPicklist requriedinput">
                <apex:selectOptions value="{!con.NemkontoTransactionTypes}"/> 
                </apex:selectList>
            </apex:pageBlockSectionItem>   
            
          <apex:pageBlockSectionItem >
           Amount: <span style="color:red">*</span>
          <apex:inputText onblur="checkDec(this);"  maxLength="13" value="{!con.fundTransferWrapper.amount}" id="ftAmount" styleClass="requriedinput"/> 
          </apex:pageBlockSectionItem>
            
        <apex:pageBlockSectionItem >
        Date :
       <apex:inputText value="{!con.fundTransferWrapper.dateVal}" onfocus="DatePicker.pickDate(false,this, false);" disabled="true" id="dateVal"/> 
     
        </apex:pageBlockSectionItem>
         <apex:pageBlockSectionItem >
        <apex:outputPanel id="transferMessage" style="color:red">
                    
           {!con.fundTransferWrapper.message}         
        </apex:outputpanel>
          </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
    
    </apex:pageBlock>
    
</apex:component>