.THIS .spce{
    margin-left: 10px;
}
.THIS .btn{
    margin-left: 10px;
    margin-top: 26px;
}
.THIS .theader{
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
}
.THIS .lable{
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
}
.THIS.slds-spinner_container {  
    height: 700px;
    position: fixed;   
}
.THIS .chtextInput {
    margin-top: -15px;
}