<apex:page standardController="Contact" extensions="EditPeopleController" lightningStylesheets="true">
<apex:slds >
  <br/>
  <apex:form >
  <br/>
  <apex:pagemessages />
  <apex:sectionHeader subtitle="Edit Customer" title="Customer Edit"/><br/>    
  <apex:pageBlock mode="maindetail" title="Customer Edit">
  <apex:pageBlocksection title="Contact Information" columns="2">
  <apex:outputField value="{!con.SerNo__c}" />
  <apex:outputField value="{!con.SSN__c}" />
  <apex:inputfield value="{!con.FirstName}" required="true" />
  <apex:inputfield value="{!con.LastName}" />
  <apex:inputfield value="{!con.Email}"/>
  <apex:inputfield value="{!con.MobilePhone}"/>
  <apex:inputfield value="{!con.Marital_Status__c}"  />
  <apex:inputfield value="{!con.Mother_Name__c}"  />
  </apex:pageBlocksection>
  <apex:pageBlockButtons >
      <apex:commandButton action="{!savepeople}" value="Save"/>
      <apex:commandButton action="{!Cancel}" value="Cancel"/>
   </apex:pageBlockButtons>
  </apex:pageBlock>
  
  </apex:form>
  </apex:slds>
</apex:page>