<apex:page lightningStylesheets="true" standardController="Financial_Account__c" extensions="CustomerDataController" sidebar="false" showHeader="false" applyHtmlTag="false">
<apex:slds >

<apex:form id="theinstallmentFORM">
    
    <apex:outputPanel id="outputsectionInstallment">
    <apex:commandButton value="Get Installment Details" action="{!fetchinstallmentData}" rendered="{!NOT(clickedInstallmentInfo)}" status="btnstatus" reRender="outputsectionInstallment"/>    
    <apex:outputPanel rendered="{!clickedInstallmentInfo}">
        <c:InstallmentInfo_Table CustList="{!CustDataConInstance}"/>
    </apex:outputpanel>
    </apex:outputpanel>
</apex:form>
<apex:actionStatus id="btnstatus">
        <apex:facet name="start">
        <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.25; z-index: 1000; background-color: black;">
        &nbsp;
        </div>
        <div style="position: fixed; left: 44%; top: 45%; bottom: 0; right: 0; z-index: 1001;">
        <div style="display: inline-block; padding: 2px; background-color: #fff; width: 125px;">
            <img src="/img/loading.gif" style="float: left; margin: 8px;" />
            <span style="display: inline-block; padding: 10px 0px;">Please Wait...</span>
        </div>
        </div>
        </apex:facet>
        </apex:actionStatus>
        
        </apex:slds>
</apex:page>