<!-- Function of this Page is to prevent end user to edit Card__c object -->

<apex:page standardController="Card__c" standardStylesheets="false" sidebar="false">
    <script>
        window.onload=function()       
        {        
            alert("You Don't have edit permission for Cards");
            window.history.back();
        };
    </script>
</apex:page>