<apex:page controller="RequestGDPRController" sidebar="false" showHeader="false" title="Customer Rights Page" label="Customer Rights Page" name="Customer Rights Page" lightningStylesheets="true">
    <apex:slds >
    <apex:form > 
        <apex:pageMessages ></apex:pageMessages>
        <apex:pageblock mode="edit" title="Request GDPR Page">
            <apex:pageBlockSection columns="2" >
                <apex:inputField value="{!req.Right_To__c}" required="true"/>
                <apex:inputField value="{!req.Request_Via__c}" required="true"/>
                <apex:outputText value="{!crd.Financial_Account__r.Account_Number__c}"/>     
            </apex:pageBlockSection>  
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Submit" action="{!submit}" status="btnstatus"/>
            </apex:pageBlockButtons>  
        </apex:pageblock>
    </apex:form>
    </apex:slds>
</apex:page>