<apex:page controller="RequestGDPRController" applyHtmlTag="false" applyBodyTag="false" showHeader="false" renderAs="pdf" sidebar="false" docType="html-5.0">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <style>
    .ct{
    text-align:left;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    }
    .ct1{
    text-align:center;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    }   
    .ctrightalign{
    text-align:right;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    }
    @page {     
     size:portrait;
     margin-left: 1.2cm;
     margin-right: 1.2cm;
     margin-top: 1.2cm;
     margin-bottom: 1.2cm;
             size: A4;
    }   
           @bottom-right {
      content: "{!IF(instId==2,$Label.SE_Page,$Label.DK_Page)} ["counter(page)"] {!IF(instId==3,$Label.DK_Of,$Label.SE_Of)} [" counter(pages)"]";
    }
            
    </style> 
    </head>
    <div>     
        <apex:image url="{!$Resource.EntercardLogo}" width="150" height="48"/> <br/><br/><br/><br/>
         <div style="float:left;margin-top:0px;font-size:100%; left:10px;position:relative;"> 
            <div >{!CustName}</div>
            <div >{!custAddressStreet}</div>
            <div >{!custAddressZip}, {!custAddressCity}, {!custAddressCountry}</div>
            
            <br/><br/>
        </div><div style="float:left;margin-top:0px;font-size:100%; left:10px;position:relative;">
        <div  >{!IF(instId==2,$Label.SE_Print_Date,IF(instId==3,$Label.DK_Print_Date,$Label.NO_Print_Date))} : {!printDate}</div><br/>
            <div>{!IF(instId==2,$Label.SE_Customer_Rights_Subject,IF(instId==3,$Label.DK_Customer_Rights_Subject,$Label.NO_Customer_Rights_Subject))}<b></b></div>
            <br/><br/>
            <div>{!IF(instId==2,$Label.SE_Greeting,IF(instId==3,$Label.DK_Greeting,$Label.NO_Greeting))} {!CustName},</div><br/>
            <p>
                {!IF(instId==2,$Label.SE_Customer_Rights_Paragraph_1,IF(instId==3,$Label.DK_Customer_Rights_Paragraph_1,$Label.NO_Customer_Rights_Paragraph_1))}
                <br/>
            </p>
                <apex:outputLink > {!IF(instId==2,$Label.SE_Customer_Rights_Link_1,IF(instId==3,$Label.DK_Customer_Rights_Link_1,$Label.NO_Customer_Rights_Link_1))}</apex:outputLink>
            <br/>    
            <p >
				{!IF(instId==2,$Label.SE_Customer_Rights_Paragraph_2,IF(instId==3,$Label.DK_Customer_Rights_Paragraph_2,$Label.NO_Customer_Rights_Paragraph_2))}
                <br/>
				<apex:outputLink > {!IF(instId==2,$Label.SE_Customer_Rights_Link_2,IF(instId==3,$Label.DK_Customer_Rights_Link_2,$Label.NO_Customer_Rights_Link_2))}</apex:outputLink>.
        	
        </p><br/>    
        <div  >
                {!IF(instId==2,$Label.SE_Thanks,IF(instId==3,$Label.DK_Thanks,$Label.NO_Thanks))}<br/><br/>
            </div>
            <div  >
                 {!AgentName}<br/>
                 {!$UserRole.Name}
            </div>
        </div>
    </div>
</apex:page>