.THIS .slds-modal__container{
       max-width: 90rem ;
       width:90% ;
}
.THIS .model{
       margin-top:5%;
       width:40% ;
}
.THIS .slds-modal__header{
    background-color: #d22d2d;
}

.THIS .slds-modal__header{
    background-color: #12327D;
    color: white;
}