.aTextColor{
    color: white;
    width: 100%;
    height: 22px;
    background-color: red;
    text-align: center;
    color: white;
}


.lightred{
    color: white;
    width: 100%;
    height: 22px;
    background-color: red;
    text-align: center;
    color: white;
}
 
.lightgreen{
    color: white;
    width: 100%;
    height: 22px;
    background-color: green;
    text-align: center;
    color: white;
}