<template>

    <div class="spinner">
        <template if:true={isLoading}>
             <lightning-spinner alternative-text="Loading..waiting for response" variant="brand" size="large">
             </lightning-spinner>
        </template>
    </div>

    <lightning-card title="">
        <div class="slds-grid slds-gutters">
            <div class="slds-col">
                <span></span>
            </div>
           
        </div>
        <template if:true={fedFlag}>
            <div class="slds-text-color_error slds-p-left_x-small">
             Please add federation id in user ! 
           </div>
         </template>
        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
            <thead>
                <tr class="slds-line-height_reset">

                    <th class="" scope="col">
                        <div class="slds-truncate" title="Name">Consent Name</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="OptIn/Optout Status">Consent Status</div>
                    </th>
                   
                </tr>
            </thead>
            <tbody>
                
                <template for:each={data} for:item="con">
                    <tr key={con.Id}>
                       
                        <th scope="col">
                            <div>{con.Name}</div>
                        </th>
                        <th scope="col"> 
                            <div>
                                <lightning-input checked={con.consentStatus}  data-id={con.Id} data-name={con.consentStatus}
                                 value = {con.consentStatus} type="checkbox"  onchange={handleChange}></lightning-input>
                            </div>
                            
                        </th>
                    </tr>
                </template>
            </tbody>
        </table>
        <br>
        <div class="slds-col">
            <span>
                <lightning-button label="Submit" onclick={captureConsents} style="margin-left: 40%" variant="brand"></lightning-button>
            </span>
        </div>

        </lightning-card>
    </template>