<apex:component allowDML="true">
<apex:attribute name="con" description="This is the value for the component."
type="PrimeActionController" required="true"/>

 <apex:actionFunction name="getCardNumbers" action="{!con.getCardOptions}" rerender="rememberinsurancePb" status="btnstatus"/> 
    <apex:pageBlock title="Remember More Insurance" mode="edit" id="rememberinsurancePb">
        <apex:pageBlockButtons location="bottom">
            <apex:commandButton status="btnstatus" action="{!con.rememberInsurance}" onclick="if(confirm('Are you sure you want to submit ?')){}else{return false;}" value="Submit" reRender="PrimePanel"/>
            <apex:commandButton value="Cancel" onclick="window.location=window.location;return false;"/>
        </apex:pageBlockButtons>
         
        <apex:Pagemessages />
       
        <apex:pageBlockSection title=" " columns="1">
            <apex:pageBlockSectionItem >
            <apex:outputLabel value="Customer: " for="customerName"/> 
            <apex:outputLabel value="{!con.rememberInsuranceWrapper.customerName}" id="customerName" />
            </apex:pageBlockSectionItem>
        
            <apex:pageBlockSectionItem >
                Financial Account: <apex:selectList onchange="getCardNumbers();" value="{!con.rememberInsuranceWrapper.financialVal}" multiselect="false" size="1" id="financialAccountddl" styleClass="customPicklist">
                <apex:selectOptions value="{!con.financialAccounts}"/> 
                </apex:selectList>
            </apex:pageBlockSectionItem>
            
           <apex:pageBlockSectionItem >  
                <apex:outputLabel value="Card Number: " for="cardpanel"/> 
                <apex:actionRegion >
                <apex:outputPanel id="cardpanel">
                    <apex:selectList value="{!con.rememberInsuranceWrapper.carSerNo}" multiselect="false" size="1" id="remInsurancecardNumber" styleClass="customPicklist">
                        <apex:selectOptions value="{!con.cardNumberOptionList}" /> 
                    </apex:selectList>
                    </apex:outputPanel>
                    <apex:outputLabel value="{!con.rememberInsuranceWrapper.productName}" /> 
                    </apex:actionRegion>
            </apex:pageBlockSectionItem>
            
        <apex:pageBlockSectionItem >
        Date:
        
       <apex:inputText value="{!con.rememberInsuranceWrapper.dateValue}" onfocus="DatePicker.pickDate(false,this, false);" id="rememberInsuranceDate"/> 
        </apex:pageBlockSectionItem>
        
        </apex:pageBlockSection>
    <apex:pageBlockSection title="Insurances:" columns="1">
    <apex:pageBlockSectionItem >
      <apex:actionRegion >
                <apex:outputPanel id="insuranceList">
      <apex:selectCheckboxes value="{!con.rememberInsuranceWrapper.insuranceList}" layout="PageDirection" id="insuranceList1">
             
            <apex:selectOptions value="{!con.primeInsuranceOptions}"/>
           
        </apex:selectCheckboxes>
       </apex:outputPanel>
                   
                    </apex:actionRegion>
         </apex:pageBlockSectionItem>
    </apex:pageBlockSection>
    
     <apex:pageBlockSection title="Free Insurances:" columns="1">
     <apex:pageBlockSectionItem >
     
         <apex:actionRegion >
          <apex:outputPanel id="freeInsuranceList">
         <apex:selectCheckboxes value="{!con.rememberInsuranceWrapper.freeInsuranceList}" layout="PageDirection" id="freeInsuranceList1">
             
            <apex:selectOptions value="{!con.primefreeInsuranceOptions}"/>                   
         </apex:selectCheckboxes>     
         </apex:outputPanel>
                  
                    </apex:actionRegion>            
         </apex:pageBlockSectionItem>
          </apex:pageBlockSection>
    </apex:pageBlock>
    
</apex:component>