<template>
    <lightning-card title="Non Customer Screen " icon-name="custom:custom14">        
        <lightning-layout>
            <lightning-layout-item padding="around-small" size="4">                               
                <div class="page-main"> 
                    <lightning-formatted-text value={errorMessage} class="slds-m-around_medium formatText"></lightning-formatted-text>                                                                                      
                    <div class="slds-m-around_medium slds-size_1-of-2">
                        <lightning-input label="SSN" type="number" value={sSn} onkeyup={handleSsnChange}></lightning-input>
                    </div>
                </div>                
            </lightning-layout-item>
            <lightning-layout-item padding="around-small" size="4">
                <template if:true={flag}> 
                    <lightning-record-edit-form object-api-name="Case" density="comfy">
                        <div class="page-right">
                            <div class="slds-grid">
                                <div class="slds-col slds-m-around_medium">
                                    <lightning-input-field field-name='Department__c' onchange={handleDepartmentChange}>
                                    </lightning-input-field> 
                                    <lightning-combobox label="Category" value={Category} required="True"
										placeholder="--None--" options={categoryOptions} onchange={handleCategoryChange}>
								    </lightning-combobox>               
                                </div>
                                <div class="slds-col slds-m-around_medium">
                                    <label class="slds-form-element__label" for="textarea-id-0111">Comment</label>
                                        <div class="slds-form-element__control">
                                            <textarea id="textarea-id-0111" class="slds-textarea commentBox" name="comment"
                                                placeholder="Enter Comment..." onchange={handleCommentChange}></textarea>
                                        </div>
                                </div>                                
                            </div>
                            <div class="slds-form-element slds-m-around_medium slds-float--right"> 
                                <lightning-button label="Save" onclick={handleUpdateActivity}></lightning-button>  
                            </div>                                                         
                        </div>                       
                    </lightning-record-edit-form>                    
                </template>
            </lightning-layout-item>
        </lightning-layout>        
    </lightning-card>
</template>