<template>
    <lightning-card title="Log Activity" icon-name="standard:log_a_call">
        <div class="slds-border_top">
            <lightning-record-edit-form object-api-name="Cross_Sell_Response__c" density="comfy">
                <div class="c-container">
                    <lightning-layout>
                        <lightning-layout-item padding="around-small" size="4">
                            <div class="page-right">
                                <div class="slds-grid">
                                    <div class="slds-col slds-medium-size_5-of-6">
                                        <lightning-input-field field-name='Person__c' value={customerName} onchange={handleNameChange}>
                                        </lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-medium-size_1-of-6 slds-p-top_medium slds-m-top_xx-small">
                                        <template if:true={buttonVisible}>
                                            <lightning-button label="Go" title="Go" onclick={navigateToChangeCustomer}>
                                            </lightning-button>
                                        </template>
                                    </div>
                                </div>
                                <lightning-combobox name="Role" value={finvalue} required="True"
                                    label="Financial Account" options={finOptions} onchange={handleFinAccountChange}
                                    dropdown-alignment="bottom-left" placeholder="--None--" class="norm">
                                </lightning-combobox>
                                <lightning-combobox name="Role" label="Card" value={cardvalue} options={cardOptions}
                                    onchange={handleCardChange} dropdown-alignment="bottom-left" placeholder="--None--" class="norm">
                                </lightning-combobox>
                            </div>
                        </lightning-layout-item>
                        <lightning-layout-item padding="around-small" size="4">
                            <form>
                                <div class="page-main slds-form-element">
                                    <label class="slds-form-element__label" for="textarea-id-0111">Comment</label>
                                    <div class="slds-form-element__control">
                                        <textarea id="textarea-id-0111" class="slds-textarea commentBox" name="comment"
                                            placeholder="Enter Comment..." onchange={handleCommentChange}></textarea>
                                    </div>
                                </div>
                            </form>
                        </lightning-layout-item>
                        <lightning-layout-item padding="around-small" size="4">
                            <div class="page-right">
                                <template if:true={departmentPicklistValues.data}>
                                    <lightning-combobox label="Department" value={Department}
                                        options={departmentPicklistValues.data.values} onchange={handleDepartmentChange}
                                        placeholder="--None--" class="norm">
                                    </lightning-combobox>
                                </template>
								<lightning-combobox label="Category" value={Category} required="True"
										placeholder="--None--" options={categoryOptions}
									onchange={handleCategoryChange} class="norm">
								</lightning-combobox>
                                <template if:true={typePicklistValues.data}>
                                    <lightning-combobox label="Type" value={Type}
                                        options={typePicklistValues.data.values} placeholder="--None--"
                                        onchange={handleTypeChange} class="norm">
                                    </lightning-combobox>
                                </template>
                                <template if:true={crossSellFieldVisible}>
                                    <div class="c-container">
                                        <lightning-layout multiple-rows="true">
                                            <lightning-layout-item>
                                                <lightning-layout>
                                                    <lightning-layout-item>
                                                        <div class="page-section page-right">
                                                            <lightning-input-field field-name='Cross_Sell_Success__c'
                                                                required="True" onchange={handleSuccessChange}>
                                                            </lightning-input-field>
                                                        </div>
                                                    </lightning-layout-item>&nbsp;&nbsp;
                                                    <lightning-layout-item>
                                                        <div class="page-section page-main">
                                                            <lightning-input-field field-name='Country__c'
                                                                required="True" onchange={handleCountryChange}>
                                                            </lightning-input-field>
                                                        </div>
                                                    </lightning-layout-item>
                                                </lightning-layout>
                                            </lightning-layout-item>
                                            <lightning-layout-item size="12">
                                                <div class="page-footer page-section">
                                                    <lightning-input-field field-name='Service_Sold__c' required="True"
                                                        onchange={handleServiceSoldChange}>
                                                    </lightning-input-field>
                                                </div>
                                            </lightning-layout-item>
                                        </lightning-layout>
                                    </div>
                                </template>
                                <template if:true={retentionFieldVisible}>
                                    <div class="c-container">
                                        <lightning-layout multiple-rows="true">
                                            <lightning-layout-item>
                                                <lightning-layout>
                                                    <lightning-layout-item>
                                                        <div class="page-section page-right">
                                                            <template if:true={saveAttemptPicklistValues.data}>
                                                                <lightning-combobox name="Save Attempt"
                                                                    label="Save Attempt" placeholder="--None--"
                                                                    required="True" onchange={handleSaveAttemptChange}
                                                                    options={saveAttemptPicklistValues.data.values}>
                                                                </lightning-combobox>
                                                            </template>
                                                        </div>
                                                    </lightning-layout-item>&nbsp;&nbsp;
                                                    <lightning-layout-item>
                                                        <div class="page-section page-main">
                                                            <template if:true={accountRetainedPicklistValues.data}>
                                                                <lightning-combobox name="Saved?" label="Saved?"
                                                                    placeholder="--None--" required="True"
                                                                    onchange={handleAccountRetainedChange}
                                                                    options={accountRetainedPicklistValues.data.values}>
                                                                </lightning-combobox>
                                                            </template>
                                                        </div>
                                                    </lightning-layout-item>&nbsp;&nbsp;
                                                    <lightning-layout-item>
                                                        <div class="page-section page-right">
                                                            <template if:true={offerPicklistValues.data}>
                                                                <lightning-combobox name="Offer?" label="Offer?"
                                                                    placeholder="--None--" required="True"
                                                                    onchange={handleOfferChange}
                                                                    options={offerPicklistValues.data.values}>
                                                                </lightning-combobox>
                                                            </template>
                                                        </div>
                                                    </lightning-layout-item>
                                                </lightning-layout>
                                            </lightning-layout-item>
                                            <lightning-layout-item size="12">
                                                <div class="page-footer page-section">
                                                    <template if:true={accountClosurePicklistValues.data}>
                                                        <lightning-combobox name="Reason for cancellation"
                                                            label="Reason for cancellation" placeholder="--None--"
                                                            required="True" onchange={handleAccountClosureChange}
                                                            options={accountClosurePicklistValues.data.values}>
                                                        </lightning-combobox>
                                                    </template>
                                                </div>
                                            </lightning-layout-item>
                                        </lightning-layout>
                                    </div>
                                </template><br />
                                <template if:true={alertFieldVisible}>
                                    <lightning-input type="checkbox" label="Create Alert" onchange={selectCheckBox}>
                                    </lightning-input>                                 
                                    <template if:true={chekboxValue}> 
                                        <div class="c-container">
                                            <lightning-layout multiple-rows="true">
                                                <lightning-layout-item>
                                                    <lightning-layout>
                                                        <lightning-layout-item>
                                                            <div class="page-section page-right">
                                                                <template if:true={alertCategoryPicklistValues.data}>
                                                                    <lightning-combobox name="Category" label="Category"
                                                                        placeholder="--None--" required="True"
                                                                        onchange={handleAlertCategoryChange}
                                                                        options={alertCategoryPicklistValues.data.values}>
                                                                    </lightning-combobox>
                                                                </template>
                                                            </div>
                                                        </lightning-layout-item>&nbsp;&nbsp;
                                                        <lightning-layout-item>
                                                            <div class="page-section page-main">
                                                                <lightning-input type="date" name="input5" label="Due Date"
                                                                    onchange={handleDueDateChange} required="True">
                                                                </lightning-input>
                                                            </div>
                                                        </lightning-layout-item>
                                                    </lightning-layout>
                                                </lightning-layout-item>
                                                <lightning-layout-item size="12">
                                                    <div class="page-footer page-section">
                                                        <template if:true={targetPicklistValues.data}>
                                                            <lightning-combobox name="Target" label="Target"
                                                                placeholder="--None--" onchange={handleTargetChange}
                                                                options={targetPicklistValues.data.values}>
                                                            </lightning-combobox>
                                                        </template>
                                                    </div>
                                                </lightning-layout-item>
                                            </lightning-layout>
                                        </div>
                                    </template>
                                </template><br />                                
                                <div class="slds-float_right">
                                    <lightning-button label="Save" title="Save" onclick={handleUpdateCTITask}>
                                    </lightning-button>
                                </div>
                            </div>
                        </lightning-layout-item>
                    </lightning-layout>
                </div>
            </lightning-record-edit-form>
        </div>
    </lightning-card>
</template>