<apex:page controller="NonCustomerController" sidebar="false" lightningStylesheets="true">
<apex:slds >
    <apex:pageMessages id="pageMessages"></apex:pageMessages>
    <apex:form >     
        <apex:pageBlock mode="edit" title="Non-Customer Details">
            <apex:outputPanel layout="block">
                <apex:pageBlockSection >
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="FirstName : "/>
                        <apex:inputText value="{!FirstName}" style="width:38%; border: 1px solid;padding: 4px 8px;border-radius: 4px; border-left: 4px solid red;padding-right: 5px;"/>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="LastName : " />
                        <apex:inputText value="{!LastName}" style="width:38%; border: 1px solid;padding: 4px 8px;border-radius: 4px; border-left: 4px solid red;padding-right: 5px;"/>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="IdentifierType : "/>
                        <apex:selectList size="1" value="{!selectIdentityType}" id="identity"  style="width:38%; border: 1px solid;padding: 4px 8px;border-radius: 4px; border-left: 4px solid red;padding-right: 5px;">
                            <apex:selectOptions value="{!IdentifierType}"/>
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Address : " />
                        <apex:inputText value="{!Address1}"/>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="IdentifierValue : " />
                        <apex:inputText value="{!IdentifierValue}" style="width:38%; border: 1px solid;padding: 4px 8px;border-radius: 4px; border-left: 4px solid red;padding-right: 5px;"/>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="City : " />
                        <apex:inputText value="{!City}" style="width:38%; border: 1px solid;padding: 4px 8px;border-radius: 4px; border-left: 4px solid red;padding-right: 5px;"/>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Zip : " />
                        <apex:inputText value="{!Zip}" style="width:38%; border: 1px solid;padding: 4px 8px;border-radius: 4px; border-left: 4px solid red;padding-right: 5px;"/>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="InstitutionId : "/>
                        <apex:selectList size="1" value="{!SelectedInstId}" id="inst" style="width:38%; border: 1px solid;padding: 4px 8px;border-radius: 4px; border-left: 4px solid red;padding-right: 5px;">
                            <apex:selectOptions value="{!InstitutionIds}" />
                            <apex:actionSupport event="onchange" action="{!getPartnerNames}" reRender="one"/>
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="PartnerName : "/>
                        <apex:selectList size="1" id="one" value="{!SelectPartner}"  style="width:38%; border: 1px solid;padding: 4px 8px;border-radius: 4px; border-left: 4px solid red;padding-right: 5px;">
                            <apex:selectOptions value="{!option}"/>
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="UnionName : " />
                        <apex:inputText value="{!UnionName}"/>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="DepartmentNumber : " />
                        <apex:inputText value="{!DepartmentNumber}"/>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
            </apex:outputPanel>
            <apex:pageBlockButtons location="bottom">
                <!--apex:actionFunction action="{!insertNonCustomer}" name="mthd" reRender="pageMessages" oncomplete="this.form.reset();return false;"/-->
                <apex:commandButton value="Submit" action="{!insertNonCustomer}" reRender="pageMessages" oncomplete="if('{!Description}' == 'Success'){this.form.reset();return false;}" style="width:10%; font-size: 13px; left:80px;position:relative;"/>
                <apex:commandButton value="Reset" onclick="this.form.reset();return false, window.top.location.reload()" style="width:10%; font-size: 13px; left:80px;position:relative;"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
    <style>
        .required {
        border-left: 3px solid red;
        padding-right: 5px;
        }
        input {
        width: 55%;
        border: 1px solid;
        padding: 4px 8px;
        border-radius: 4px;
        }
        label {
        width:200px;
        font-size: 16px;
        display: inline-block;
        }
    </style>
    <script language="javascript" type="text/javascript">
    function stopRKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if ((evt.keyCode == 13) && (node.type=="text")) {return false;}
    }
    
    document.onkeypress = stopRKey; 
    </script>
    </apex:slds>
</apex:page>