<apex:page action="{!getFinancialAccountsByPeopleId}" standardController="Contact" lightningStylesheets="true" extensions="PeopleDetailController" sidebar="false" showHeader="false" applyHtmlTag="false">
<apex:slds >
 <apex:includeScript value="/support/console/22.0/integration.js"/>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <!-- changed min-width: auto; from min-width: 1042 px -->
 <div class="financialAccTbl" style="min-width: auto;">
   <apex:pageBlock title="Financial Account">
        <apex:pageBlockTable value="{!financialAccountList}" var="item" rendered="{!If(financialAccountList.size>0,true,false)}">
            <apex:column style="background-color:{!item.Colour_Code__c};text-align:center;">
                <apex:facet name="header">Financial Account</apex:facet>
                <a class="link-view" href="/{!item.Id}" onclick="testOpenSubtab('{!item.Id}','{!item.Name}');return false;" id="{!item.Id}">{!item.Name}</a>
                <a class="link-view1" style="display:none;" onclick="testOpenSubtab('{!item.Id}','{!item.Name}');return false;" id="{!item.Id}-1">{!item.Name}</a>
            </apex:column>
            <apex:column value="{!item.Segment__c}" headerValue="Segment" style="background-color:{!item.Colour_Code__c}; text-align:center;"/>
            <apex:column value="{!item.Customer__r.Name}" headerValue="Main Account Holder" style="background-color:{!item.Colour_Code__c};text-align:center;"/>
            <apex:column value="{!item.Product__r.Name}" headerValue="Product" style="background-color:{!item.Colour_Code__c};text-align:center;"/>
            <apex:column value="{!item.Account_Number__c}" headerValue="Account Number" style="background-color:{!item.Colour_Code__c};text-align:center;"/>
            <apex:column value="{!serNoToFinancialAccountMap[item.Account_Serno__c].StGen}" headerValue="General Status" style="background-color:{!item.Colour_Code__c};text-align:center;"/>
            <apex:column value="{!serNoToFinancialAccountMap[item.Account_Serno__c].Balance}" headerValue="Balance" style="background-color:{!item.Colour_Code__c};text-align:center;"/>
            <apex:column value="{!serNoToFinancialAccountMap[item.Account_Serno__c].OTB}" headerValue="Available Credit (OTB)" style="background-color:{!item.Colour_Code__c};text-align:center;"/>
            <!--apex:column value="{!item.E_invoice_flag__c}" headerValue="E-invoice Flag" style="background-color:{!item.Colour_Code__c};text-align:center;"/-->  
            <apex:column value="{!serNoToFinancialAccountMap[item.Account_Serno__c].Einvoice}" headerValue="E-invoice Flag" style="background-color:{!item.Colour_Code__c};text-align:center;"/>
            <apex:column value="{!item.DirectDebit_Percentage__c}" headerValue="Direct Debit Percentage" style="background-color:{!item.Colour_Code__c};text-align:center;"/>
            <apex:column value="{!item.Credit_Limit__c}" headerValue="Credit Limit" style="background-color:{!item.Colour_Code__c};text-align:center;"/>
            <!-- apex:column value="{!item.Segment__c}" headerValue="Segment"/ -->
            <!-- apex:column value="{!item.Risk_Indicator__c}" headerValue="Risk_Indicator"/ -->       
            <!-- apex:column value="{!item.PPI__c}" headerValue="PPI"/>
            <apex:column value="{!serNoToFinancialAccountMap[item.Account_Serno__c].Balance}" headerValue="Balance"/ -->
            
        </apex:pageBlockTable>
         <apex:outputPanel rendered="{!If(financialAccountList.size=0,true,false)}">
        No records to display
        </apex:outputPanel>
    </apex:pageBlock> 
    <style type="text/css">
    .customlink
    {
     cursor:pointer;
     text-decoration:underline;
    }
    </style>
     </div>
    <script type="text/javascript">
        var currentId='';
        var currentName='';
        
        
      
        $(document).ready(function(){
        
         if (sforce.console.isInConsole()) 
         {
            var isFirefox = typeof InstallTrigger !== 'undefined';
         
            $("a.link-view").each(function( index ) {
            
            var attrVal = 'javascript:#';
            
            if(isFirefox==true)
            {
             $(this).removeAttr('href');
             $(this).addClass('customlink');
            }
            else
            {
             $(this).attr('href',attrVal);
            }
            
            });
         }
        
        });
        
        
        
        
        
        function testOpenSubtab(objId,objName) {
        
         
           
           if (sforce.console.isInConsole()) 
           {

           console.log('start');
           currentId='/'+objId;
           currentName=objName;
           console.log('objId'+objId);
           console.log('objName'+objName);
            //First find the ID of the primary tab to put the new subtab in
            sforce.console.getEnclosingPrimaryTabId(openSubtab);
            }
            else
            {
            // Changes(commented below line) made for Ticket#SFD665 
            //parent.window.location.href='/'+objId;
            }
         
        }
        
        
        $('a.link-view').mousedown(function(event) {
        switch (event.which) {
        case 1:
            console.log('Left Mouse button pressed.');
           
            break;
        case 2:
           if (sforce.console.isInConsole()) 
           {
            console.log(' $(this)'+ $(this).text());
            $(this).next().click();
            return false;
           }
            break;
        case 3:
             console.log('Right Mouse button pressed.');
           
            break;
        default:
            
        }
        });
        
        var openSubtab = function openSubtab(result) {
            //Now that we have the primary tab ID, we can open a new subtab in it
            var primaryTabId = result.id;
            console.log('primaryTabId '+primaryTabId);
            sforce.console.openSubtab(primaryTabId , currentId, true, 
                currentName, null, openSuccess, null);
            //sforce.console.openSubtab(primaryTabId , currentId, true, currentName, null, openSuccess, null);// Change By Spal 7/3/17
            //sforce.console.openPrimaryTab(null,currentId, true, currentName, null, openSuccess, null);// Change By Spal 7/3/17
        };
        
        var openSuccess = function openSuccess(result) {
            //Report whether we succeeded in opening the subtab
            
             console.log('result.success '+result.success);
            
            if (result.success == true) {
               // alert('subtab successfully opened');
                console.log('subtab successfully opened');
            } else {
                //alert('subtab cannot be opened');
                console.log('subtab cannot be opened');
            }
        };
    </script>
    </apex:slds>
</apex:page>