<template>
    <lightning-card icon-name="custom:custom19" variant="Narrow" class="slds-card_boundary entry-title"
        title="Activity History">

        <div slot="actions">
            <lightning-button-icon onclick={refresh} icon-name="utility:refresh" alternative-text="Refresh"
                title="Refresh"></lightning-button-icon>
        </div>
        <template if:true={showTable}>
            <c-paginator records={activityList} total-records={activityList.length} show-search-box="true"
                onpaginatorchange={handlePaginatorChange}>
            </c-paginator>
            <lightning-datatable key-field="Id" data={recordsToDisplay} columns={columns} hide-checkbox-column
                sorted-by={sortBy} sorted-direction={sortDirection} onsort={handleSortdata} show-row-number-column
                row-number-offset={rowNumberOffset}>
            </lightning-datatable>
        </template>
    </lightning-card>
</template>